@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Messages</h2>

@*<div>@Html.ActionLink("MySpreadsheets", "MySpreadsheets", "Home")</div>*@
<div>@Html.ActionLink("God", "Index", "God") </div>
<div>@Html.ActionLink("Humans", "Humans", "God")</div>
<div>@Html.ActionLink("Guest", "RsvpForm", "Home") </div>